<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>라이어 게임 방 입장</title>
    <script>
        function joinRoom(event) {
            event.preventDefault();
            const nickname = document.getElementById('nickname').value;
            const roomCode = window.location.pathname.split('/').pop();
            console.log('입력한 닉네임:', nickname); // 닉네임 로그 출력

            // 세션 저장 (필요에 따라 쿠키 등 다른 저장소 사용 가능)
            sessionStorage.setItem('nickname', nickname);

            // 해당 방으로 리디렉션
            window.location.href = `/room/${roomCode}`;
        }
    </script>
</head>
<body>
<main>
    <h2>라이어 게임 방 입장</h2>
    <form id="join-room-form" onsubmit="joinRoom(event)">
        <input type="text" name="nickname" id="nickname" placeholder="닉네임을 입력해주세요." required>
        <div>
            <button type="button" onclick="location.href='/'">취소</button>
            <button type="submit">입장</button>
        </div>
    </form>
</main>
</body>
</html>
