<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Details</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<main>
    <h2>플레이어</h2>
    <div id="player-list"></div>
    <!-- 기존 요소들 -->
    <div id="room-section">
        <p>아래 링크를 공유하세요!</p>
        <p id="room-link"><!--[[${roomCode}]]--></p>
        <p style="color: red; cursor: pointer;" onclick="copyLink()">링크 복사</p>
    </div>
    <!-- 게임 시작 후 보여질 요소들 -->
    <div id="game-section" style="display: none;">
        <h2>게임 화면</h2>
        <div id="game-message">
            <p id="game-content"></p>
        </div>
        <div>
            <button onclick="resetSessionAndGoHome()">홈으로</button>
            <button onclick="restartGame()">다시 시작</button>
        </div>
    </div>
    <div id="chatting-section">
        <h2>채팅</h2>
        <div id="messages"></div>
        <form id="chat-form" onsubmit="sendMessage(event)">
            <input type="text" id="content" placeholder="메시지" required>
            <button type="submit">전송</button>
        </form>
    </div>
    <div id="game-controls">
        <button onclick="resetSessionAndGoHome()">홈으로</button>
        <button id="start-game-btn" onclick="showPlayerCount()">게임 시작</button>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <p id="modal-text">모든 플레이어가 입장했는지 확인해주세요.<br>1명의 플레이어로 게임을 시작하시겠습니까?</p>
            <div class="modal-buttons">
                <button class="modal-button" onclick="closeModal()">취소</button>
                <button class="modal-button" onclick="confirmStartGame()">확인</button>
            </div>
        </div>
    </div>
    <!-- 관전 모드 메시지 -->
    <div id="spectator-mode" style="display: none;">
        <h2>게임 관전 중</h2>
        <p>게임이 진행 중입니다. 관전 모드로 참여 중입니다.</p>
    </div>

</main>

<script>
    var stompClient = null;
    var nickname = sessionStorage.getItem('nickname');
    var roomCode = window.location.pathname.split('/').pop();

    window.onload = function() {
        if (!nickname) {
            window.location.href = '/'; // 닉네임이 없으면 홈으로 이동
        } else {
            document.getElementById('room-link').innerText = window.location.href;
            connect(nickname); // 웹소켓 연결 함수 호출
            checkGameStatus(); // 게임 상태 확인 함수 호출
        }
    }

    function resetSessionAndGoHome() {
        sessionStorage.removeItem('nickname');
        location.href = '/'; // 홈으로 이동
    }

    function copyLink() {
        const roomLinkElement = document.getElementById('room-link');
        if (roomLinkElement) {
            const link = roomLinkElement.innerText;
            navigator.clipboard.writeText(link).then(() => {
                showAlert('링크가 복사되었습니다!');
            }).catch(err => {
                console.error('복사 실패:', err);
            });
        }
    }

    function showAlert(message) {
        const alertElement = document.getElementById('alert');
        alertElement.innerText = message;
        alertElement.style.display = 'block';
        setTimeout(() => {
            alertElement.style.display = 'none';
        }, 2000);
    }

    async function showPlayerCount() {
        const roomCode = window.location.pathname.split('/').pop();
        try {
            const response = await fetch(`/room/${roomCode}/playerCount`);
            if (response.ok) {
                const count = await response.json();
                document.getElementById('modal-text').innerHTML = `모든 플레이어가 입장했는지 확인해주세요.<br>${count}명의 플레이어로 게임을 시작하시겠습니까?`;
                document.getElementById('modal').style.display = 'block';
            } else {
                alert('플레이어 수를 가져오는 데 실패했습니다.');
            }
        } catch (error) {
            console.error('Error:', error);
            alert('오류가 발생했습니다. 다시 시도해 주세요.');
        }
    }

    function closeModal() {
        document.getElementById('modal').style.display = 'none';
    }

    function confirmStartGame() {
        document.getElementById('modal').style.display = 'none';
        startGame();
    }

    async function startGame() {
        const roomCode = window.location.pathname.split('/').pop();
        try {
            const response = await fetch(`/api/game/start/${roomCode}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (response.ok) {
                const data = await response.json();
                console.log("게임 시작 요청이 성공했습니다.");
            } else {
                alert('게임을 시작하는 데 실패했습니다.');
            }
        } catch (error) {
            console.error('Error:', error);
            alert('오류가 발생했습니다. 다시 시도해 주세요.');
        }
    }

    function sendMessage(event) {
        event.preventDefault();
        const content = document.getElementById('content').value;
        stompClient.send("/app/room/" + roomCode + "/chat", {}, JSON.stringify({'name': nickname, 'content': content}));
        document.getElementById('content').value = ''; // 메시지 전송 후 입력 칸 비우기
    }

    function connect(nickname) {
        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);

            stompClient.subscribe('/topic/room/' + roomCode + '/players', function (message) {
                updatePlayerList(JSON.parse(message.body));
            });

            stompClient.subscribe('/topic/room/' + roomCode + '/chat', function (message) {
                showMessage(JSON.parse(message.body));
            });

            // 게임 시작 토픽 구독
            stompClient.subscribe('/topic/room/' + roomCode + '/gameStart/' + nickname, function (message) {
                const gameMessage = message.body;
                console.log('Received game message:', gameMessage); // 로그 추가
                document.getElementById('game-content').innerText = gameMessage;
                document.getElementById('room-section').style.display = 'none';
                document.getElementById('game-section').style.display = 'block';
            });

            stompClient.send("/app/room/" + roomCode + "/join", {}, JSON.stringify({ 'nickname': nickname }));
        });
    }

    window.onbeforeunload = function() {
        const roomCode = window.location.pathname.split('/').pop();
        if (stompClient) {
            stompClient.send("/app/room/" + roomCode + "/leave", {}, JSON.stringify({ 'nickname': nickname }));
        }
    };

    function updatePlayerList(players) {
        var playerList = document.getElementById('player-list');
        playerList.innerHTML = '';
        players.forEach(function(player) {
            var playerElement = document.createElement('div');
            playerElement.appendChild(document.createTextNode(player));
            playerList.appendChild(playerElement);
        });
    }

    function showMessage(message) {
        const messages = document.getElementById('messages');
        const messageElement = document.createElement('div');
        messageElement.appendChild(document.createTextNode(message.name + ": " + message.content));
        messages.appendChild(messageElement);
    }

    function checkGameStatus() {
        const roomCode = window.location.pathname.split('/').pop();
        fetch(`/api/game/status/${roomCode}`)
            .then(response => response.json())
            .then(data => {
                if (data.status === 'IN_PROGRESS') {
                    document.getElementById('start-game-btn').style.display = 'none'; // 게임 시작 버튼 숨기기
                    document.getElementById('spectator-mode').style.display = 'block'; // 관전 모드 표시
                }
            });
    }

</script>
</body>
</html>
